.mainCont{
    height: 76px;
    /* margin-left: 2%; */
    width:inherit;
    /* border: 0 10px 0 0; */
    border: solid black 3px;
    overflow: inherit;
    display: inline-flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    border-radius:17.5px;
    background-color: white;
    margin-bottom: 1.5%;
}
.userModalContent{
    overflow: scroll;
}
.contentModal{
    height: 400px;
    width: auto;
    overflow: scroll;
    background-color:rgb(232, 86, 86) ;
}
.mapboxDiv{
    height: 430px;
    max-height: 430px;
    width: 450px;
    max-width: 450px;
}

.image{
    height: 100%;
    width: 37%;
    float: left;
    /* position: absolute; */
    padding-top:4%;
    padding-left: 4%;
}

/* .image-col{
    height: 19%;
} */
.img{
    padding: 3%;
    height: 65%;
    width: 58%;
    background-color: blue;
    border-radius: 50px;
}

.messages{
    height: 100%;
    width: 100%;
    /* float: left; */
    /* position: relative;  */
    margin-left: inherit; 
    text-align: center;
    white-space: nowrap;
    color:black;
    margin-top: 3%;
}

.text{
    /* padding-top: 8%; */
    font-size: 22px;
    font-weight: 450;
    /* float: left; */
}
.userNameBtn{
    border: none;
    background-color: white;
}

.messageBtn{
    /* height: 100%; */
    width: 100%;
    float: right;
    position: relative;
    /* white-space: nowrap; */
    margin-left: inherit;
    /* text-align: center; */
    /* margin-left: 29.5%; */
}

.btnText{
    margin-top:inherit;
    font-family: Arial;
    /* background-color: black; */
    /* width: 80%; */
    font-size: 20px;
}